<div align="center">
	<div class="main_container-fluid">
		<div class="abt">
	    <%=image_tag 'abt.jpg', :size => '800x275'%>
	    <div id="thabody">
	    	<div id="left_text">
	    	<br />
		    	<p align="left" style="justify">Agriculture is a key sector in the Nigerian economy whose importance can not be undermined in the growth of the country as a whole.</p>
			    <p align="left">Due to the recent discovery of oil in other parts of the world, our major exportation soon will become dormant and therefore lead to a crippling economy. The idea behind <b>'FARMERS CONNECT'</b> is to strengthen the agricultural system in Nigeria by creating a world where the middle-man does not exist, a world where farmers have little to worry about.</p>
			    <p align="left">The major challenges farmers encounter are difficulties in selling their produce which might get bad in terms of  perishable goods, another challenge is disease and pest infestation in terms of crops and livestocks. </p>
		    </div>
		    <div id="right_text">
			    <u><b>AIMS</b></u><br />
					<p align="left" style="justify">* Create a medium where farmers can have access to veterinary doctors ask questions concerning animals, get recommendations on correct prescription for proper medication.</p><br />

					<p align="left">* Create a channel where farmers can have access to extension workers who will recommend improved varieties of crops and proper farming methods</p><br />

					<p align="left">* Create an online market where farmers can sell their farm produce to customers within and outside their localities on time and at a cheaper price.</p><br />
		    </div>
		    <br /><br /><br /><br />
	    </div>
		</div>
	</div>
</div>
